* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*Hamburger*/
.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 100;
    background-color: #001F29;
    opacity: .9;
    font-family: 'Aldrich', sans-serif;
    border-bottom: 2px solid #1C7ADE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #CAF0F8;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item a{
    margin-right: 30px;
    text-decoration: none;
    color: #CAF0F8;
    
}

.nav-link{
    font-size: 1rem;
    font-weight: 300;
}
.nav-item a:hover{
        color: #1C7ADE;
}

.nav-logo {
    width: 25rem;
    height: 3rem;
}
@media only screen and (max-width: 768px) {
    .header{
        height: 70px;
    }
    .imagen-ppal{
        width: 100%;
        height: 100%;
        background-image: url("./img/depp.jpg");
        object-fit: cover;
    }
    .nav-logo {
        width: 15rem;
        height: 3rem;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #001F29;
        color: #CAF0F8;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar{
        padding: 0.5rem 2rem;
    }
}
.imagen-ppal{
    width: 100%;
    height: 725px;
    border-radius: 10px;
    position: absolute;
    z-index: 90;
    background-image: url("./img/depp.jpg");
    object-fit: cover;
}
/*Frasee*/
.phrase{
    position: relative;
    z-index: 95;
    padding-top: 35rem;
    color: #CAF0F8;
    text-align: center;
    font-family: 'Aldrich', sans-serif;
}
/*Salto de linea*/
.br-1{
    width: 100%;
    height: 25px;
    background-color: #000D14;
}
/*Main*/
/*Director*/
.section-director{
    width: 100%;
    background-color: #000D14;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.director{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    row-gap: 2rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #001F29;
}
.dir-inf{
    width: 34rem;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #001F29;
    font-family: 'Aldrich', sans-serif;
}
.dir-inf-h1{
    color: #1C7ADE;
    background-color: #001F29;
    font-size: 3em;
}
.dir-inf-h3{
    font-size: 1.3em;
    color: #CAF0F8;
    background-color: #001F29;
}
/*Imagen director*/
.dir-img{
    /* width: 20rem;
    height: 15rem; */
    width: 30rem;
    height: 25rem;
    border-radius: 10px;
    object-fit: cover;
}
@media only screen and (max-width: 768px){
    .dir-img{
        width: 20rem;
        height: 15rem;
    }
    .phrase-2{
        font-size: 0.5rem;
    }
}
.phrase-2{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Aldrich', sans-serif;
    color: #CAF0F8;
    padding: 0 2rem 0 2rem;
    background-color: #000D14;
    float: left;
}
@media only screen and (max-width: 768px){
    .phrase-2{
        font-size: 1.5rem;
    }
}
.section-slider{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000D14;
}
@media only screen and (max-width: 768px){
    .section-slider{
        height: 340px;
    }
}
/*Slider*/
.slider-box{
    width: 97%;
    border: 2px solid #1C7ADE;
    border-radius: 10px;
    background-color: #000D14;
}
.slider{
    width: 95%;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    width: 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    animation: cambio 20s infinite;
    animation-direction: alternate;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 75%;
    height: 520px;
    padding: 1rem 0 1rem 0;
    margin-left: 160px;
}
@media only screen and (max-width: 768px){
    .slider img{
        width: 75%;
        height: 200px;
        margin-left: 50px;
    }
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
.br-2{
    width: 100%;
    height: 4.5rem;
    background-color: #000D14;
}
.title-box{
    height: 73%;
    color: #CAF0F8;
    padding: 13px 3rem 0 3rem;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Aldrich', sans-serif;
    background-image: url(./img/titles.png);
    float: left;
}
.br-3{
    width: 100%;
    height: 27px;
    background-color: #000D14;
}
.actors{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1.7rem 0 1.8rem 0;
    background-color: #001F29;
    border-radius: 10px;
    text-align: center;
    color: #1C7ADE;
    font-family: 'Aldrich', sans-serif;
}
.actorImg{
    width: 30rem;
    height: 21.5rem;
    border-radius: 1rem;
    object-fit: cover;
}
@media only screen and (max-width: 768px){
    .actorImg{
        width: 20rem;
        height: 15rem;
    }
}
.introductionSection{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000D14;
}
.introduction-box{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
    row-gap: 2rem;
    column-gap: 2rem;
    border: 2px solid #1C7ADE;
    border-radius: 10px;
    background-color: #000D14;
}
/*Imagen introdución*/
.int-img{
    width: 30rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: #000D14;
    object-fit: cover;
}
.int-inf-h3{
    width: 40rem;
    font-size: 1.3em;
    color: #CAF0F8;
    text-align: center;
    font-family: 'Aldrich', sans-serif;
    background-color: #000D14;
}
@media only screen and (max-width: 768px){
    .int-img{
        width: 20rem;
        height: 10rem;
    }
    .int-inf-h3{
        padding: 0 1rem 0 1rem;
        width: 40rem;
        font-size: 1.1rem;
    }
}
.btnContainer{
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    align-items: center;
    background-color: #000D14;
}
.movie-btn{
    width: 10rem;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: 'Aldrich', sans-serif;
    background-color: #001F29;
}
.movie-btn a{
    text-decoration: none;
    color: #1C7ADE;
}
/*Footer*/
.net-foot{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    font-family: 'Aldrich', sans-serif;
    background-color: #000D14;
}
.net-foot a{
    text-decoration: none;
    color: #1C7ADE;
}
.by{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #001F29;
    font-family: 'Aldrich', sans-serif;
}
.by a{
    text-decoration: none;
    color: #CAF0F8;
}
.by a:hover{
    color: #1C7ADE;
}


